# Clase 1 - Python Básico
## Diplomado en Argumentación y Narrativa Soportada en Análisis de Datos
### Politécnico Gran Colombiano - 2024
<img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Logo_del_Polit%C3%A9cnico_Grancolombiano.svg/1200px-Logo_del_Polit%C3%A9cnico_Grancolombiano.svg.png" width=300>

# Introducción a Python

In [1]:
!python --version

Python 3.9.18

## Palabras reservadas

Las palabras reservadas de un lenguaje de programación son aquellas que son propias del mismo y por ello no pueden ser usadas para ningún propósito en partícular (Variables, valores, etc)

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
# Imprimir Hello world!
"""
Imprimir Hello world!
"""


print('Hello world!')

print('''hola a todos
      bienvenidos!''')

Hello world!
hola a todos
      bienvenidos!

In [3]:
print('G','F', sep='', end='')
print('G')

GFG

In [3]:
print('09','12','2016', sep='-', end='\n')
print('Rojo','verde','Azul', sep=',', end='@')
print('Hola')

09-12-2016
Rojo,verde,Azul@Hola

# Tipos de datos en Python

## Tipos de Datos Primitivos

Los datos primitivos son los bloques básicos de construcción en Python. Son valores simples e inmutables, lo que significa que una vez asignados, no pueden ser modificados directamente. Los tipos de datos primitivos más comunes en Python son:

- Numéricos:
    - int: Números enteros (ej: 42, -10, 0)
    - float: Números con decimales (ej: 3.14, -2.5, 1.0e-5)
    - complex: Números complejos (ej: 2+3j, -1-0.5j)
- Booleano:
    - bool: Valores lógicos (True o False)
- None:
    - None: Representa la ausencia de un valor
- Cadena de caracteres:
    - str: Secuencia de caracteres (ej: "Hola", "mundo", "")

## Tipos de Datos Objeto

Los tipos de datos objeto, por otro lado, son más complejos y versátiles. Son como contenedores que pueden almacenar múltiples valores y, a menudo, tienen métodos asociados para realizar operaciones sobre esos valores. Los tipos de datos objeto más comunes en Python son:

- Listas: Colecciones ordenadas de elementos (ej: [1, 2, 3], ["manzana", "banana", "cereza"])
- Tuplas: Colecciones ordenadas e inmutables de elementos (ej: (1, 2, 3), ("manzana", "banana", "cereza"))
- Diccionarios: Colecciones de pares clave-valor (ej: {"nombre": "Alicia", "edad": 30}, {"frutas": ["manzana", "banana"]})
- Conjuntos: Colecciones no ordenadas de elementos únicos (ej: {1, 2, 3}, {"manzana", "banana"})
- Clases: Plantillas para crear objetos personalizados con sus propios atributos y métodos

#### ¿Cuál es la diferencia principal entre ambos?

- Mutabilidad: Los tipos de datos primitivos son inmutables, mientras que los tipos de datos objeto suelen ser mutables, lo que significa que puedes modificar sus elementos después de crearlos.
- Complejidad: Los tipos de datos objeto son más complejos y ofrecen más funcionalidades que los tipos de datos primitivos.
- Almacenamiento: Los tipos de datos primitivos se almacenan directamente en la memoria, mientras que los tipos de datos objeto son referencias a objetos almacenados en otra parte de la memoria.

## Tipos de Datos Primitivos

| Tipo de dato | Descripción | Ejemplos | Uso común |
|---|---|---|---|
| **Entero (int)** | Números enteros sin parte decimal. | 42, -10, 0 | Conteo, índices, operaciones aritméticas básicas. |
| **Flotante (float)** | Números reales con parte decimal. | 3.14, -2.5, 1.0e-5 | Medidas, cálculos científicos, operaciones que requieren precisión decimal. |
| **Complejo (complex)** | Números con parte real e imaginaria. | 2+3j, -1-0.5j | Matemáticas, física, procesamiento de señales. |

**Resumen:**

* **Enteros:** Perfectos para representar cantidades exactas y discretas.
* **Flotantes:** Ideales para valores con decimales, como medidas físicas o resultados de cálculos científicos.
* **Complejos:** Esenciales en áreas donde los números complejos son fundamentales, como la electrónica o la teoría de señales.

- Casting: Esto es especialmente útil cuando se necesita realizar operaciones entre diferentes tipos de datos o cuando se desea obtener un tipo de dato específico para un propósito particular.

### asignaciones

Podemos asignar valores a variables usando el operador =. Una variable es simplemente un nombre que le damos a un valor particular.

In [23]:
"""
Primero, asignamos el valor 2 al nombre x. 
Después de eso, x contendrá el valor 2. Python almacenó el valor 2 en x. 
Finalmente, imprimimos el valor.
"""
x = 2
print(x)

2

In [24]:
print(x * x)
print(x == x)
print(x > 6)

4
True
False

In [26]:
zs = x + 1
print(zs)

3

In [27]:
zs += 1
print(zs)

4

In [31]:
a = 3
a + 2

5

In [12]:
# entero
x = 7

# flotante
y = 4.0

print ( type(x) )
print ( type(y) )

z = x + y 

# z hereda el tipo flotante
print (type(z), z)

<class 'int'>
<class 'float'>
<class 'float'> 11.0

In [16]:
# casting
var_int = 7
print(var_int, type(var_int))

var_float = float(var_int)
print(var_float, type(var_float))

var_str = str(var_float)
print(var_str, type(var_str))

7 <class 'int'>
7.0 <class 'float'>
7.0 <class 'str'>

In [17]:
var_float_int = int(var_float)
print(var_float_int, type(var_float_int))

7 <class 'int'>

In [18]:
var_int = int(var_str)
print(var_int, type(var_int))

ValueError: invalid literal for int() with base 10: '7.0'

In [36]:
# Ejemplo de operaciones con números complejos
z1 = 3+4j
z2 = 1-2j
print(z1)
print(z2)
# Suma
suma = z1 + z2
print("Suma:", suma)

(3+4j)
(1-2j)
Suma: (4+2j)

In [38]:
x = None
print(x)

None

In [42]:
# Comparaciones
x = 5
y = 3

print('x es mayor que y? RTA: {}'.format(x > y))
a = True
b = False
print(f'el valor de a es {a} y el valor de b es {b}')
print(a and b)
    
# Negación
c = not a
print("Negación de a:", c)

x es mayor que y? RTA: True
el valor de a es True y el valor de b es False
False
Negación de a: False

### Texto (cadenas)

Las variables que almacenan texto se denominan strings (str).  Se deben de poner entre commillas sencillas o dobles, si el texto es multilinea con triple comilla.

```python
cadena = "Hola"
cadena = 'Hola'
multilinea = """ Hola
                Mundo """
multilinea = ''' Hola
                Mundo '''
```

In [32]:
book = "python 3.0"
print(book)

python 3.0

In [28]:
nombre = "Julio"
libro = "Rayuela"
print(nombre + " bueno " + libro + "?")

Julio bueno Rayuela?

In [30]:
a = '2'
a + '3'

'23'

## Operaciones
- Suma: X + Y
- Resta: X - Y
- Multiplicación: X * Y
- Exponente  (X  a la potencia Y): X ** Y
- Division Flotante : X / Y
- Division entera: X // Y
- Modulo (i.e., el remanente de la  division): X % Y

In [43]:
x = 9
y = 4
print("x = ",x)
print("y = ", y)
print("x + y = ", x + y)
print("x - y = ", x - y)
print("x * y = ", x * y)
print("x ** y = ", x ** y)
print("x / y = ", x / y)
print("x // y = ", x // y)
print("x % y = ", x % y)

x =  9
y =  4
x + y =  13
x - y =  5
x * y =  36
x ** y =  6561
x / y =  2.25
x // y =  2
x % y =  1

## Operadores lógicos y comparadores
- igual ==
- distinto !=
- menor(mayor) que <(>)
- menor(mayor) igual que <=(>=)
- negación not
- conjunción and
- Disyunción or

In [48]:
print(True == True != False)

print(1 < 2 < 3 < 4 < 5)

print((1 < 2 < 3) and (4 < 5))

print(1 < 2 < 4 < 3 <= 3 < 5)

print((1 < 2 < 4) and (3 < 5))
print((1 < 2 < 4) or (3 > 5))
print(not(1 < 2 < 4) )

True
True
True
False
True
True
False

### Funciones predefinidas
Son funciones que ya vienen incorporadas en el lenguaje para utilizar directamente sin tener que escribir su código.
https://docs.python.org/es/3/library/functions.html

- Matemáticas:

    - abs(x): Devuelve el valor absoluto de x.
    - round(x): Redondea x al número entero más cercano.
    - pow(x, y): Calcula x elevado a la potencia y.
    - min(iterable), max(iterable): Devuelve el valor mínimo o máximo de un iterable.

- Conversión de tipos:

    - int(x): Convierte x a un entero.
    - float(x): Convierte x a un número de punto flotante.
    - str(x): Convierte x a una cadena.

- Listas:

    - len(list): Devuelve la longitud de una lista.
    - sorted(list): Devuelve una nueva lista ordenada.
    - sum(list): Calcula la suma de todos los elementos de una lista.

- Cadenas:

    - len(str): Devuelve la longitud de una cadena.
    - upper(), lower(): Convierte una cadena a mayúsculas o minúsculas.
    - isdigit(), isalpha(): verificar si es digito o del alfabeto
    - find(sub): Encuentra el índice de la primera aparición de una subcadena.

- Entrada/Salida:

    - print(): Imprime valores en la consola.
    - input(): Lee una entrada del usuario.

In [91]:
# Calcular el valor absoluto de -5
resultado = abs(-5)
print(resultado) # 5

# Convertir la cadena "3.14" a un número flotante
numero = float("3.14")
print(numero)  

# Crear una lista y ordenarla
mi_lista = [3, 1, 4, 2, 5, 6]
lista_ordenada = sorted(mi_lista) #[1, 2, 3, 4, 5, 6]
print(lista_ordenada) 

# longitud de frase
palabras_lg = "Hola mundo"
print('longitud de la frase: ',len(palabras_lg)) 


# unir palabras
palabras = ["Hola", "mundo"]
cadena = " ".join(palabras)
print(cadena)  # Hola mundo

# potencia
resultado = pow(2, 3)
print(resultado)

5
3.14
[1, 2, 3, 4, 5, 6]
longitud de la frase:  10
Hola mundo
8

In [139]:
x = input('valor para x')

In [140]:
print('el valor de x es:', x)

el valor de x es: 1

# ¿Qué es un módulo en Python?

Un módulo contiene un conjunto de funciones, clases y variables que puedes utilizar en el código para realizar tareas específicas. Por ejemplo, el módulo math contiene funciones matemáticas como sqrt() para calcular raíces cuadradas

In [53]:
import math

# Usando una función del módulo:
resultado = math.sqrt(16)
print(resultado)  # Imprime 4.0

4.0

In [60]:
# Usando las constantes pi y la función sin()
angulo = 45
resultado = math.sin(angulo * math.pi / 180)
print(resultado)  # Seno de 45 grados

0.7071067811865476

In [61]:
from math import pi, sin
# Usando las constantes pi y la función sin()
angulo = 45
resultado = sin(angulo * pi / 180)
print(resultado)  # Seno de 45 grados

0.7071067811865476

In [62]:
from math import pi as PI
# Usando el nombre renombrado:
radio = 2
area = PI * radio**2
print(area)

12.566370614359172

In [65]:
import random

# Generar un número entero aleatorio entre 1 y 10
numero_aleatorio = random.randint(1, 10)
print("Número aleatorio:", numero_aleatorio)

# Generar un número decimal aleatorio entre 0 y 1
numero_decimal = random.random()
print("Número decimal aleatorio:", numero_decimal)
# Generar un número de una distribución gaussiana media 2.1 y std:0.3 
numero_decimal = random.gauss(2.1,0.3)
print("Número distribución gaussiana:", numero_decimal)

Número aleatorio: 5
Número decimal aleatorio: 0.44823158187000034
Número distribución gaussiana: 2.0883133349245186

## Métodos
Los datos de ciertos tipos permiten invocar unas funciones especiales: los denominados
**métodos**. Por ejemplo, las cadenas  permiten invocar métodos sobre ellas

In [66]:
# mayúsculas en cadenas
cadena = "Hola, Mundo!"
print(cadena.upper())  # HOLA, MUNDO!
print(cadena.lower())  # hola, mundo!

# dividir texto
texto = "Python es genial"
palabras = texto.split()
print(palabras)  # ['Python', 'es', 'genial']

HOLA, MUNDO!
hola, mundo!
['Python', 'es', 'genial']

In [68]:
import datetime

# Obtener la fecha y hora actual
ahora = datetime.datetime.now()
print("Fecha y hora actual:", ahora)

# Formatear la fecha
fecha_formateada = ahora.strftime("%d/%m/%Y")
print("Fecha formateada:", fecha_formateada)

Fecha y hora actual: 2024-09-04 16:26:47.571388
Fecha formateada: 04/09/2024

In [69]:
a = 1 + 3j       # dato
a.imag           # atributo dato

3.0

In [71]:
a.conjugate()    #  método

(1-3j)

## Secuencia de escape
Son caracteres especiales que no tienen una representación trivial

In [83]:
cadena= 'Hola mundo'
print(cadena)
cadena_nl= 'Hola \n mundo'
print(cadena_nl)
cadena_nt= 'Hola \t mundo'
print(cadena_nt)
cadena_raw= r'Hola \t mundo'
print(cadena_raw)

Hola mundo
Hola
 mundo
Hola 	 mundo
Hola \t mundo

In [84]:
cadena_nt= 'Hola 'a'  mundo'
print(cadena_nt)

SyntaxError: invalid syntax (2607540147.py, line 1)

In [85]:
cadena_nt= 'Hola \'a\'  mundo'
print(cadena_nt)

Hola 'a'  mundo

### Indexación:
Permite acceder a cada uno de los caracteres de una cadena utilizando un operador de indexación. El índice del elemento al que queremos acceder debe encerrarse entre corchetes.

<img src= "" width=300>

In [100]:
cadena = 'Monty Python'
print('longitud de la cadena: ', len(cadena))

longitud de la cadena:  12

In [98]:
print('índice 0: ', cadena[0])
print('índice 6: ', cadena[6])
print('índice -2: ', cadena[-2])
print('índice -12: ', cadena[-12])

índice 0:  M
índice 6:  P
índice -2:  o
índice -12:  M

In [99]:
print('índice -22: ', cadena[-22])

IndexError: string index out of range

In [110]:
subcadena = cadena[2:5]
print('Extraer una subcadena desde el índice 2  hasta el 5:', subcadena)  


subcadena_1 = cadena[:5]
print('Extraer desde el principio hasta el índice 5: ',subcadena_1) 

subcadena_2 = cadena[7:]
print('Extraer desde 7 hasta el final: ',subcadena_2) 

subcadena_3 = cadena[-3:]
print('Extraer desde -3 hasta el final: ',subcadena_3) 

subcadena_4 = cadena[-5:-1]
print('Extraer desde -5 hasta -1: ',subcadena_4)

Extraer una subcadena desde el índice 2  hasta el 5: nty
Extraer desde el principio hasta el índice 5:  Monty
Extraer desde 7 hasta el final:  ython
Extraer desde -3 hasta el final:  hon
Extraer desde -5 hasta -1:  ytho

In [112]:
#collection[start:stop:step]
subcadena_5 = cadena[::2]
print('Extraer cada segundo carácter: ',subcadena_5)

Extraer cada segundo carácter:  MnyPto

In [115]:
nueva_cadena = "J" + cadena[1:]
print('# modificar M por J: ', nueva_cadena)

# modificar M por J:  Jonty Python

Hasta ahora los programas se forman como una serie de líneas que se ejecutan una tras otra,
siguiendo el mismo orden con el que aparecen. Esto significa   que el flujo de ejecución del programa es **estrictamente secuencial**.

Solución de la ecuación: ax+b=0

- x=-b/a

In [120]:
a= float(input('valor de a'))
b= float(input('valor de b'))
print(f'valor de a: {a} y b: {b}')
x = - b/a
print('La solución es: ', x)

valor de a: 9.0 y b: 10.0
La solución es:  -1.1111111111111112

Sin embargo, es posible alterar el flujo de ejecución de los programas para hacer que:
- **sentencias condicionales**: tomen decisiones a partir de los datos y/o resultados intermedios y,\
 en función de éstas, ejecuten ciertas sentencias y otras no.
- **sentencias iterativas**: tomen decisiones a partir de los datos y/o resultados intermedios y,\
 en función de éstas, ejecuten ciertas sentencias más de una vez.

### La sentencia condicional IF

Es una sentencia condicional de control de flujo para ejecutar unas instrucciones en función de alguna condición.

Su forma más básica es:

```python
    if <condicion>:  sentencia
```

O bien:

```python
    if <condicion>:
        sentencia
        ...
```

Más generalmente, para especificar alternativas:

```python
    if <condicion>:
        do something
        
    elif <otra condicion>:
        do something else  
    ...
    
    else:
        do this if nothing above matched
```

Lo anterior es equivalente a:
```python
    if <condicion>:
        do something
        
    else:
        
        if <otra condicion>:
            do something else  
        ...
    
        else:
            do this if nothing above matched
```

In [121]:
if 2 == 3:
    print('2 es 3')
else:
    print('No! 2 no es 3')

No! 2 no es 3

In [122]:
x = 10
if x > 5:
    print("x es mayor que 5")

x es mayor que 5

In [123]:
x = 10
y = 20

if x > 5 and y < 30:
    print("x es mayor que 5 y y es menor que 30")

x es mayor que 5 y y es menor que 30

In [124]:
x = 5

if x > 10:
    print("x es mayor que 10")
elif x > 5:
    print("x es mayor que 5")
else:
    print("x es menor o igual a 5")

x es menor o igual a 5

In [130]:
x = 10
y = 32

if x > 5:
    if y < 30:
        print("x es mayor que 5 y y es menor que 30")
    elif  40> y > 30:
        print("x es mayor que 5 y y es mayor que 30 y menor que 40")
    else:
        print("x es mayor que 40")
else:
    print("x no es mayor que 5")

x es mayor que 5 y y es mayor que 30 y menor que 40

In [126]:
nota = float(input("Ingrese la nota del examen (0-10): "))

if nota >= 9:
    print("Excelente!")
elif nota >= 7:
    print("Muy bien!")
elif nota >= 5:
    print("Aprobado")
else:
    print("Suspendido")

Aprobado

In [131]:
lado1 = float(input("Ingrese la longitud del lado 1: "))
lado2 = float(input("Ingrese la longitud del lado 2: "))
lado3 = float(input("Ingrese la longitud del lado 3: "))

if lado1 <= 0 or lado2 <= 0 or lado3 <= 0:
    print("Los lados de un triángulo deben ser positivos.")
elif lado1 + lado2 <= lado3 or lado1 + lado3 <= lado2 or lado2 + lado3 <= lado1:
    print("No se puede formar un triángulo con esas longitudes.")
elif lado1 == lado2 == lado3:
    print("Es un triángulo equilátero.")
elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
    print("Es un triángulo isósceles.")
else:
    print("Es un triángulo escaleno.")

Es un triángulo isósceles.

In [138]:
from math import pi

radio = float(input('Calcular␣el␣radio␣de␣un␣círculo: '))

print('''Escoge una opción: 
a)Calcular el diámetro.
b)Calcular el perímetro.
c)Calcular el área.''')

opcion = input('Escoger la opción a calcular:')

if opcion == 'a':
    diametro = 2 * radio
    print(f'El diámetro es: {diametro}')
elif opcion == 'b':
    perimetro = 2 * pi * radio
    print(f'El perímetro es: {perimetro}')
elif opcion == 'c':
    area = pi * radio ** 2
    print(f'El área es: {area}')
else:
    raise Exception("debe escoger entre la opción a, b y c")

Escoge una opción:
a)Calcular el diámetro.
b)Calcular el perímetro.
c)Calcular el área.
El diámetro es: 20.0

### La sentencia iterativa while
La sentencia while es una estructura de control que permite ejecutar un bloque de código repetidamente mientras se cumpla una determinada condición. Es decir, el bucle continuará iterando hasta que la condición se vuelva False.

    while condición:
        # Bloque de código a ejecutar mientras la condición sea True

In [141]:
contador = 0
while contador < 5:
    print(contador)
    contador += 1

0
1
2
3
4

In [145]:
palabra = "complejo"
i = 0
while i < len(palabra):
    print(palabra[i])
    i += 1
print(f'número de carácteres de la palabra {palabra}: ', i)

c
o
m
p
l
e
j
o
número de carácteres de la palabra complejo:  8

In [149]:
numero= int(input('Calcular factorial del número?'))
resultado = 1
while numero > 0:
    resultado *= numero
    numero -= 1

print("El factorial es", resultado)

El factorial es 6

In [150]:
import random

numero_secreto = random.randint(1, 10)
intentos = 0

while True:
    intento = int(input("Adivina el número (1-10): "))
    intentos += 1

    if intento == numero_secreto:
        print("¡Adivinaste! El número secreto era", numero_secreto)
        break
    elif intento < numero_secreto:
        print("El número es mayor")
    else:
        print("El número es menor")

    if intentos >= 5:
        print("Se acabaron los intentos. El número secreto era", numero_secreto)
        break

El número es menor
El número es menor
El número es menor
¡Adivinaste! El número secreto era 2

## Tipos de Datos Objeto

### Listas

Son conjuntos ordenados de elementos (números, texto, listas, etc). Se delimitan por corchetes (`[]`) y los elementos se separan por comas. Las listas son dinamicas, es decir que son mutables.

```python
listaNumeros = [1,2,3]
listaCadenas = ['a','b','c']
listaListas = [[1,2],[3,4],[5,6]]
listaMixtas = [1,'Grupo',[1,2,3,4]]
listaVacia = []
```

### Tuplas

Es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis (`()`) y separados por comas. Las tuplas son estaticas, son inmutables, una vez creada no puede ser modificada.

```python
tuplaNumeros = (1,2,3)
tuplaCadenas = ('a','b','c')
tuplaListas = ([1,2],[3,4],[5,6])
tuplaMixtas = (1,'Grupo',[1,2,3,4])
```

### Diccionarios

Permite almacenar cualquier tipo de valor como enteros, cadenas, listas, etc.  Los diccionarios permiten además identificar cada elemento por una clave (key)

```python
dictNumeros = {'k1':1,'k2':2}
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4]}
```

#### Aplicaciones:
- Listas: Para almacenar secuencias de elementos que pueden cambiar.
- Tuplas: Para almacenar datos que no deben cambiar, como constantes o como claves en un diccionario.
- Diccionarios: Para almacenar pares clave-valor, cuando se necesita acceder a los datos por una clave específica.

### Listas

In [3]:
# Creando una lista
mi_lista = [1, 2, 3, "hola", True]
# Accediendo a elementos
print(mi_lista[0])  # Imprime 1
print(mi_lista[-1])  # Imprime True

1
True

In [160]:
# Modificando elementos
mi_lista[2] = "mundo"
print(mi_lista)

[1, 2, 'mundo', 'hola', True]

In [161]:
# Agregando elementos
mi_lista.append("adios")
print(mi_lista)

[1, 2, 'mundo', 'hola', True, 'adios']

In [162]:
# Eliminando elementos
mi_lista.remove("hola")
print(mi_lista)

[1, 2, 'mundo', True, 'adios']

In [163]:
# Eliminando ultimo elemento
ultimo= mi_lista.pop()
print(mi_lista)
print(ultimo)

[1, 2, 'mundo', True]
adios

In [164]:
# Eliminando ultimo elemento
pop_el= mi_lista.pop(1)
print(mi_lista)
print(pop_el)

[1, 'mundo', True]
2

In [ ]:
mi_lista

In [8]:
l = [1,4,3,4,8,9]
l.append(10)
l

[1, 4, 3, 4, 8, 9, 10]

In [10]:
l.extend([3,4,6])
l

[1, 4, 3, 4, 8, 9, 10, 3, 4, 6]

In [11]:
l.insert(1,5)
l

[1, 5, 4, 3, 4, 8, 9, 10, 3, 4, 6]

In [12]:
l.reverse()
l

[6, 4, 3, 10, 9, 8, 4, 3, 4, 5, 1]

In [15]:
l.sort()
l

[1, 3, 3, 4, 4, 4, 5, 6, 8, 9, 10]

### Tuplas

In [165]:
# Creando una tupla
mi_tupla = (10, 20, 30)
print(mi_tupla)

(10, 20, 30)

In [166]:
# Accediendo a elementos
print(mi_tupla[1])

20

In [167]:
#Intentando modificar 
mi_tupla[0] = 5

TypeError: 'tuple' object does not support item assignment

### diccionarios

In [169]:
#crear diccionarios
# Forma 1: Usando llaves
mi_diccionario = {"nombre": "Ana", "edad": 25}
print(mi_diccionario)

{'nombre': 'Ana', 'edad': 25}

In [171]:
print(mi_diccionario["nombre"])

Ana

In [174]:
#Agregando elementos
mi_diccionario["profesion"] = "Programador"
print(mi_diccionario)

{'nombre': 'Ana', 'edad': 25, 'profesion': 'Programador'}

In [177]:
#devuelve las llaves
mi_diccionario.keys()

dict_keys(['nombre', 'edad', 'profesion'])

In [178]:
#devuelve los valores
mi_diccionario.values()

dict_values(['Ana', 25, 'Programador'])

In [179]:
#devuelve los items
mi_diccionario.items()

dict_items([('nombre', 'Ana'), ('edad', 25), ('profesion', 'Programador')])

In [180]:
#Devuelve el valor asociado a la clave
mi_diccionario.get('nombre')

'Ana'

In [170]:
#crear diccionarios
# Forma 2: Usando el constructor dict()
otro_diccionario = dict(nombre="Pedro", edad=32)
print(otro_diccionario)

{'nombre': 'Pedro', 'edad': 32}

In [173]:
print(otro_diccionario["edad"])

32

In [175]:
#eliminar elementos
del otro_diccionario["edad"]

In [176]:
print(otro_diccionario)

{'nombre': 'Pedro'}

In [183]:
inventario = {
    "manzanas": 10,
    "bananas": 15,
    "naranjas": 8
}

# Agregar un nuevo producto
inventario["peras"] = 5

# Vender 3 manzanas
inventario["manzanas"] -= 3

# Verificar si hay plátanos
if "plátanos" in inventario:
    print("Tenemos plátanos en el inventario")
else:
    print("No tenemos plátanos en el inventario")
print(f"Tenemos {inventario.get('manzanas')} manzanas en el inventario")

No tenemos plátanos en el inventario
Tenemos 7 manzanas en el inventario

Diccionarios anidados

In [184]:
personas = {
    "persona1": {
        "nombre": "Juan",
        "edad": 30,
        "ciudad": "Madrid"
    },
    "persona2": {
        "nombre": "Ana",
        "edad": 25,
        "ciudad": "Barcelona"
    }
}

In [186]:
print(personas["persona1"])

{'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}

In [185]:
print(personas["persona1"]["nombre"])

Juan

## La sentencia  iterativa FOR

La sentencia `for` recorre los elementos de un iterable y ejecuta un conjunto de instrucciones una vez por cada uno de esos elementos.

- En cada iteración, el elemento correspondiente está disponible en la variable indicada.

Forma general:

    for <variable> in <iterable>:
        sentencia
        sentencia
        ...

In [151]:
palabra = "Python"
for letra in palabra:
    print(letra)

P
y
t
h
o
n

In [195]:
lista1 = [1, 2, 3,4,5]
for elemento1 in lista1:
    print(elemento1)

1
2
3
4
5

In [203]:
print(range(4))

range(0, 4)

In [209]:
list(range(4))

[0, 1, 2, 3]

In [190]:
for numero in range(0,4):
    print(numero)

0
1
2
3

In [210]:
for _ in range(3):
  print("hola mundo")

hola mundo
hola mundo
hola mundo

In [191]:
for numero in range(4):
    print(numero)

0
1
2
3

In [2]:
for i in range(1,4):
    for j in range(1, i + 1):
        print(j,end=' ')
    print("")

1
1 2
1 2 3

In [192]:
for numero in range(1,4):
    print(numero)

1
2
3

In [193]:
for numero in range(1,10, 2):
    print(numero)

1
3
5
7
9

In [194]:
for numero in reversed(range(1,10, 2)):
    print(numero)

9
7
5
3
1

In [4]:
for numero in range(10, 4, -2):
    print(numero)

10
8
6

In [206]:
numeros_ = [x for x in range(10)]
print(numeros_)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [207]:
numeros_pares = [x for x in range(10) if x % 2 == 0]
print(numeros_pares)

[0, 2, 4, 6, 8]

In [187]:
datos = [("Juan", 25), ("María", 30), ("Pedro", 28)]

for nombre, edad in datos:
    print(nombre, "tiene", edad, "años")

Juan tiene 25 años
María tiene 30 años
Pedro tiene 28 años

In [198]:
persona = {"nombre": "Maria", "edad": 25, "ciudad": "Cuba", "profesion": "profesora"}

for clave, valor in persona.items():
    print(clave, ":", valor)

nombre : Maria
edad : 25
ciudad : Cuba
profesion : profesora

In [7]:
lista1 = [1, 2, 3]
lista2 = ["a", "b"]

for elemento1, elemento2, elemento3 in zip(lista1, lista2, lista2):
    print(elemento1, elemento2, elemento3)

1 a a
2 b b

In [208]:
lista1 = [1,2,3]
lista2 = [4,5,6]

lista3 = []
for i in range(len(lista1)):
  lista3.append(lista1[i] + lista2[i])

print(lista3)

[5, 7, 9]

Condicionales con tuplas, listas y diccionarios

In [211]:
frutas = ["manzana", "banana", "pera"]
fruta_buscada = "uva"

if fruta_buscada in frutas:
    print("La fruta está en la lista")
else:
    print("La fruta no está en la lista")

La fruta no está en la lista

In [212]:
persona = {"nombre": "Juan", "edad": 30}

if "ciudad" in persona:
    print("La persona tiene una ciudad asignada")
else:
    print("No se ha especificado la ciudad")

No se ha especificado la ciudad

In [216]:
personas = [
    {"nombre": "Juan", "edad": 30},
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Pedro", "edad": 35}
]

for persona in personas:
    if persona["edad"] >= 30:
        print(persona["nombre"], "tiene 30 años o más")

Juan tiene 30 años o más
Pedro tiene 30 años o más

In [214]:
tupla1 = (1, 2, 3)
tupla2 = (1, 2, 4)

if tupla1 == tupla2:
    print("Las tuplas son iguales")
else:
    print("Las tuplas son diferentes")

Las tuplas son diferentes

In [215]:
dias_semana = ("lunes", "martes", "miércoles")
dia_buscado = "jueves"

if dia_buscado in dias_semana:
    print("Es un día de la semana")
else:
    print("No es un día de la semana")

No es un día de la semana

Combinaciones de loops y condicionales

In [219]:
for i in range(15):
    if i in [ 11, 5]:
        break
    else:
        print(i)
    print("El valor que siempre se imprime es: " + str(i))

0
El valor que siempre se imprime es: 0
1
El valor que siempre se imprime es: 1
2
El valor que siempre se imprime es: 2
3
El valor que siempre se imprime es: 3
4
El valor que siempre se imprime es: 4

In [220]:
for i in range(10):
    if i in [ 7, 5]:
        continue
    else:
        print(i)
    print("El valor que siempre se imprime es: " + str(i))

0
El valor que siempre se imprime es: 0
1
El valor que siempre se imprime es: 1
2
El valor que siempre se imprime es: 2
3
El valor que siempre se imprime es: 3
4
El valor que siempre se imprime es: 4
6
El valor que siempre se imprime es: 6
8
El valor que siempre se imprime es: 8
9
El valor que siempre se imprime es: 9

In [222]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for numero in numeros:
    if numero % 2 == 0:
        print(numero, "es par")
    else:
        print(numero, "es impar")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par

In [223]:
productos = {
    "manzana": 2.5,
    "banana": 1.8,
    "pera": 3.0
}

for producto, precio in productos.items():
    if precio > 2.0:
        print(producto, "cuesta más de 2.0")

manzana cuesta más de 2.0
pera cuesta más de 2.0

### Conjuntos

Los _sets_ son secuencias de elementos con las mismas características que las listas, pero sin repetición ni orden de elementos.

In [8]:
s = {0, 0, 2, 1, 1,3}
print(s)

{0, 1, 2, 3}

In [9]:
type(s)

set

In [230]:
s.add(4)
s.add(8)
s.add(0)
print(s)

{0, 1, 2, 3, 4, 8}

In [232]:
print(0 in s)
print(len(s))

True
6

- Los _frozensets_ son como los sets, pero inmutables.

In [233]:
fs = frozenset((3, 4))
print(fs)

frozenset({3, 4})

In [234]:
fs.add(0)

AttributeError: 'frozenset' object has no attribute 'add'

- Los sets y frozensets soportan algunas operaciones de conjuntos:

  - `s1 <= s2`: ¿es `s1` un subconjunto de `s2`? (sin =, propio)
  - `s1 >= s2`: ¿es `s2` un subconjunto de `s1`?(sin =, propio)
  - `s1 | s2`: devuelve la unión de `s1` y `s2`
  - `s1 & s2`: devuelve la intersección de `s1` y `s2`
  - `s1 - s2`: devuelve los elementos de `s1`y que no están en `s2`
  - `s1 ^ s2`: devuelve los elementos que están en `s1`o `s2`, pero no ambos

In [239]:
s1 = {0, 1}
s2 = {1, 3}
s3 = {1}
print(s1 >= s3)
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)

True
{0, 1, 3}
{1}
{0}
{0, 3}